[submodule "btoolbox-gui-general"]
	path = btoolbox-gui-general
	url = https://github.com/komlosboldizsar/btoolbox-gui-general
[submodule "btoolbox-model-general"]
	path = btoolbox-model-general
	url = https://github.com/komlosboldizsar/btoolbox-model-general
[submodule "btoolbox-xmldeserializer"]
	path = btoolbox-xmldeserializer
	url = https://github.com/komlosboldizsar/btoolbox-xmldeserializer
[submodule "btoolbox-snmp"]
	path = btoolbox-snmp
	url = https://github.com/komlosboldizsar/btoolbox-snmp
